<div class="container">
    <h4 class="mt-2">Home Page</h4>
    <hr>

    <div class="col-sm-12 mt-2 text-center" *ngIf="userService.hasRoleCoordinator"> 
      <button [routerLink]="['../course/new']" class="btn btn-primary btn-block">New Course</button> 
    </div>
    
    <div class="col-sm-12 mt-2 text-center" *ngIf="userService.hasRoleProfessor || userService.hasRoleStudent"> 
      <button [routerLink]="['../courses']" class="btn btn-primary btn-block">Visualize Curriculum Matriz</button> 
    </div>


</div>