<div class="container">
    <h4 class="mt-2">Home Page</h4>
    <hr>
    
    <div class="col-sm-12 mt-2 text-center"> 
      <button class="btn btn-primary btn-block" [disabled]="!userService.hasRoleAdmin">New User</button> 
    </div>

    <div class="col-sm-12 mt-2 text-center"> 
      <button class="btn btn-primary btn-block" [disabled]="!userService.hasRoleCoordinator">New Course</button> 
    </div>
    
    <div class="col-sm-12 mt-2 text-center"> 
      <button [routerLink]="['../courses']" class="btn btn-primary btn-block" [disabled]="!userService.hasRoleProfessor && !userService.hasRoleStudent">Visualize Curriculum Matriz</button> 
    </div>


</div>